body {
  min-width: 320px; }

* {
  box-sizing: border-box; }

#notfound {
  position: relative;
  height: 100vh; }

#notfound .notfound {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.notfound {
  width: 100%;
  max-width: 767px;
  padding: 0 15px;
  line-height: 1.4; }

.notfound .notfound-404 {
  position: relative;
  height: 150px;
  margin-bottom: 25px;
  line-height: 150px; }

.notfound .notfound-404 h1 {
  margin: 0;
  font-weight: 900;
  font-size: 186px;
  font-family: "Calibri", sans-serif;
  text-transform: uppercase;
  background: url("../img/text.png");
  background-position: center;
  background-size: cover;
  -webkit-background-clip: text;
          background-clip: text;
  text-fill-color: transparent; }

.notfound h2 {
  margin: 0;
  font-weight: 700;
  font-size: 26px;
  font-family: "Calibri", sans-serif; }

.notfound p {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 16px;
  font-family: "Calibri", sans-serif; }

.notfound a {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 40px;
  font-weight: 700;
  font-size: 14px;
  font-family: "Calibri", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffaf36;
  border: none;
  border-radius: 20px;
  transition: 0.2s all; }

.notfound a:hover {
  opacity: 0.8; }

@media only screen and (max-width: 767px) {
  .notfound .notfound-404 {
    height: 110px;
    line-height: 110px; }
  .notfound .notfound-404 h1 {
    font-size: 120px; } }

img {
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%); }

.page {
  height: 100%; }

.page-body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "Calibri", "Arial", sans-serif;
  color: #0b132a; }

.content {
  flex: 1 0 auto; }

.page-header {
  z-index: 2;
  margin-top: 25px;
  background-color: #ffffff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1); }

.page-body--cabinet {
  background-color: #f8f8f8; }

.nav-home {
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.navbar-expand-lg {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px; }

.navbar-expand-lg .navbar-collapse {
  justify-content: space-between; }

.navbar-toggler-icon {
  background-image: url("../img/icon-menu.png");
  background-repeat: no-repeat;
  background-position: center; }
  .navbar-toggler-icon:hover {
    opacity: 0.7; }
  .navbar-toggler-icon:focus {
    outline: none;
    opacity: 0.7; }

.navbar-collapse {
  display: flex;
  justify-content: flex-end;
  width: auto; }

.site-list {
  margin-left: 100px; }

.site-list__item {
  margin-right: 25px; }

.site-list__link {
  font-weight: 400;
  font-size: 14px;
  color: #343333;
  text-transform: uppercase;
  text-decoration: none; }
  .site-list__link:hover {
    color: #ffaf36; }
  .site-list__link:focus {
    color: #ffaf36;
    outline: none; }

.page-header__logo:focus {
  outline: none;
  opacity: 0.7; }

.site-list__link--active {
  color: #ffaf36; }

.user-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex; }

.user-nav__item {
  margin-right: 20px; }

.user-nav__link {
  font-weight: 400;
  font-size: 14px;
  color: #343333;
  text-transform: uppercase;
  padding-left: 20px;
  font-weight: 800;
  text-decoration: none; }
  .user-nav__link:hover {
    color: #ffaf36; }
  .user-nav__link:focus {
    color: #ffaf36;
    outline: none; }

.user-nav__link--active {
  color: #ffaf36;
  cursor: none; }

.user-nav__link--user-in {
  background-image: url("../img/user-in.png");
  background-repeat: no-repeat;
  background-position: left center; }

.user-nav__link--cabinet {
  background-image: url("../img/user-in.png");
  background-repeat: no-repeat;
  background-position: left center; }

.user-nav__link--sign-in {
  padding-left: 25px;
  background-image: url("../img/sign-in.png");
  background-repeat: no-repeat;
  background-position: left center; }

@media screen and (max-width: 1200px) {
  .site-list {
    margin-left: 0; }
  .navbar-expand-lg {
    padding: 20px 10px; } }

@media screen and (max-width: 991px) {
  .page-header {
    flex-wrap: wrap; }
  .navbar-expand-lg {
    flex-wrap: wrap; }
  .navbar-collapse {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%; }
  .site-list__item {
    margin-bottom: 20px; }
  .site-list {
    width: 100%;
    margin-top: 30px;
    margin-left: 0; }
  .user-nav {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 0; }
  .user-nav_item:first-child {
    margin-right: 30px; }
  .site-menu_list,
  .user-nav {
    width: 100%; } }

.first-screen {
  position: relative;
  top: -170px;
  z-index: 0;
  margin-top: 50px;
  padding: 200px 0 100px;
  background-image: url("../img/bg.webp"), url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover; }

.first-screen__title {
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: center;
  color: #0b132a; }

.first-screen__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #343333;
  text-transform: uppercase;
  margin-top: 20px; }

.first-screen__video {
  display: block;
  margin: 0 auto;
  margin-top: 30px; }

@media screen and (max-width: 991px) {
  .first-screen__title br {
    display: none; }
  .first-screen__video {
    width: 100%; } }

@media screen and (max-width: 540px) {
  .first-screen__title {
    display: block;
    width: 400px;
    margin: 0 auto;
    font-size: 25px; }
  .first-screen__subtitle {
    display: block;
    width: 300px;
    margin: 0 auto;
    margin-top: 15px;
    font-size: 16px;
    line-height: 24px; } }

@media screen and (max-width: 440px) {
  .first-screen__title {
    width: 300px;
    font-size: 20px;
    line-height: 28px; } }

.presentation {
  margin-top: -100px; }

.presentation__title {
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: center;
  color: #0b132a; }

.presentation__video {
  display: block;
  margin: 0 auto;
  margin-top: 30px; }

@media screen and (max-width: 991px) {
  .presentation__video {
    width: 100%; } }

@media screen and (max-width: 540px) {
  .presentation__title {
    display: block;
    width: 400px;
    margin: 0 auto;
    font-size: 25px; }
  .presentation {
    margin-top: -150px; } }

@media screen and (max-width: 440px) {
  .presentation__title {
    width: 300px;
    font-size: 20px; } }

.programme-description {
  margin-top: 100px;
  padding: 100px 0;
  background-image: url("../img/bg.webp"), url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover; }

.programme-description__title {
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: center;
  color: #0b132a; }

.programme-description__video {
  display: block;
  margin: 0 auto;
  margin-top: 30px; }

.programme-description__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #343333;
  text-transform: uppercase;
  margin-top: 20px; }

@media screen and (max-width: 991px) {
  .programme-description__video {
    width: 100%; } }

@media screen and (max-width: 540px) {
  .programme-description__title {
    display: block;
    width: 400px;
    margin: 0 auto;
    font-size: 25px; }
  .programme-description {
    margin-top: 50px;
    padding: 70px 0; }
  .programme-description__subtitle {
    display: block;
    width: 300px;
    margin: 0 auto;
    margin-top: 15px;
    font-size: 16px;
    line-height: 24px; } }

@media screen and (max-width: 440px) {
  .programme-description__title {
    width: 300px;
    font-size: 20px; } }

.programmes {
  margin-top: 100px; }

.programmes__title {
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: center;
  color: #0b132a; }

.programmes__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #343333;
  text-transform: uppercase;
  margin-top: 20px; }

.programmes-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  margin-top: 50px;
  grid-gap: 40px;
  grid-template-columns: 1fr 1fr; }

.programmes-list__item {
  padding: 150px 40px 40px;
  background-color: #f8f8f8;
  background-image: url("../img/star.png");
  background-repeat: no-repeat;
  background-size: 200px auto;
  background-position: center top;
  border-radius: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25); }

.programmes-list__header {
  font-weight: 800;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  color: #0b132a;
  text-transform: uppercase;
  font-size: 20px; }

.programmes-list__description {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 30px;
  font-size: 16px;
  color: #343333; }

@media screen and (max-width: 767px) {
  .programmes-list__header {
    font-size: 25px; }
  .programmes-list {
    grid-template-columns: 1fr; } }

@media screen and (max-width: 540px) {
  .programmes {
    margin-top: 50px; }
  .programmes__title {
    display: block;
    width: 400px;
    margin: 0 auto;
    font-size: 25px; }
  .programmes__subtitle {
    display: block;
    width: 300px;
    margin: 0 auto;
    margin-top: 15px;
    font-size: 16px;
    line-height: 24px; } }

@media screen and (max-width: 440px) {
  .programmes__title {
    width: 300px;
    font-size: 20px; }
  .programmes-list__header {
    font-size: 20px; }
  .programmes-list__description {
    font-size: 16px;
    margin-top: 10px; }
  .programmes-list {
    margin-top: 30px; } }

.testimonials {
  margin-top: 100px; }

.testimonials__title {
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: center;
  color: #0b132a; }

.testimonials__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  margin-top: 50px;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr; }

.testimonials__video {
  width: 100%;
  height: 300px; }

.registration-btn {
  display: block;
  width: 250px;
  height: 60px;
  margin: 0 auto;
  margin-top: 50px;
  font-weight: 800;
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
  background: linear-gradient(180deg, #ffaf36 0%, #d5830a 100%), linear-gradient(0deg, #c4c4c4, #c4c4c4);
  border: none;
  border-radius: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15); }
  .registration-btn:hover {
    opacity: 0.8; }
  .registration-btn:focus {
    outline: none;
    opacity: 0.8; }

@media screen and (max-width: 767px) {
  .testimonials__list {
    grid-template-columns: 1fr; } }

@media screen and (max-width: 540px) {
  .testimonials {
    margin-top: 70px; }
  .testimonials__title {
    display: block;
    width: 400px;
    margin: 0 auto;
    font-size: 25px; } }

@media screen and (max-width: 440px) {
  .testimonials__title {
    width: 300px;
    font-size: 20px; }
  .testimonials__list {
    margin-top: 30px; } }

.countries {
  margin-top: 50px;
  padding: 150px 0 100px 0;
  background-image: url("../img/bg.webp"), url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover; }

.countries__title {
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: center;
  color: #0b132a; }

.countries__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  margin-top: 50px;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr; }

.countries__list-item {
  padding: 5px 0 5px 60px;
  background-repeat: no-repeat;
  background-position: left center; }

.countries__list-item-header {
  margin-bottom: 0;
  font-weight: 800;
  font-size: 20px; }

.countries__list-item--russia {
  background-image: url("../img/russia.png"); }

.countries__list-item--ukraine {
  background-image: url("../img/ukraine.png"); }

.countries__list-item--belarussia {
  background-image: url("../img/belarussia.png"); }

.countries__list-item--kazachstan {
  background-image: url("../img/kazach.png"); }

.countries__list-item--uzbekistan {
  background-image: url("../img/uzbek.png"); }

.countries__list-item--georgia {
  background-image: url("../img/georgia.png"); }

.countries__list-item--azerbajdjan {
  background-image: url("../img/azerbaj.png"); }

.countries__list-item--greece {
  background-image: url("../img/greece.png"); }

.countries__list-item--turkish {
  background-image: url("../img/turkish.png"); }

.countries__list-item--germany {
  background-image: url("../img/german.png"); }

.countries__list-item--france {
  background-image: url("../img/france.png"); }

.countries__list-item--italy {
  background-image: url("../img/italy.png"); }

.countries__list-item--usa {
  background-image: url("../img/usa.png"); }

.countries__list-item--armenia {
  background-image: url("../img/armenia.png"); }

.countries__list-item--bulgaria {
  background-image: url("../img/bulgaria.png"); }

.countries__list-item--austria {
  background-image: url("../img/austria.png"); }

.countries__list-item--israel {
  background-image: url("../img/israel.png"); }

.countries__list-item--sweden {
  background-image: url("../img/swizerland.png"); }

.countries__list-item--ciprus {
  background-image: url("../img/ciprus.png"); }

.countries__list-item--spanish {
  background-image: url("../img/spanish.png"); }

.countries__list-item--england {
  background-image: url("../img/england.png"); }

.countries__list-item--maldives {
  background-image: url("../img/maldives.png"); }

.countries__list-item--moldovia {
  background-image: url("../img/moldavia.png"); }

.countries__list-item--tadjikistan {
  background-image: url("../img/tadji.png"); }

.countries__list-item--kirhizia {
  background-image: url("../img/kirg.png"); }

.countries__list-item--latvia {
  background-image: url("../img/latvia.png"); }

.countries__list-item--litva {
  background-image: url("../img/litva.png"); }

.countries__list-item--chech {
  background-image: url("../img/chech.png"); }

.countries__list-item--estonia {
  background-image: url("../img/estonia.png"); }

.countries__list-item--belgium {
  background-image: url("../img/belgium.png"); }

.countries__list-item--canada {
  background-image: url("../img/canada.png"); }

.countries__list-item--turkmenia {
  background-image: url("../img/turkmenia.png"); }

@media screen and (max-width: 991px) {
  .countries__list {
    grid-template-columns: 1fr 1fr 1fr; } }

@media screen and (max-width: 767px) {
  .countries__list {
    grid-column-gap: 50px;
    grid-template-columns: 1fr 1fr; } }

@media screen and (max-width: 540px) {
  .countries {
    margin-top: 70px; }
  .countries__title {
    display: block;
    width: 400px;
    margin: 0 auto;
    font-size: 25px; } }

@media screen and (max-width: 440px) {
  .countries {
    padding-bottom: 50px; }
  .countries__title {
    width: 300px;
    font-size: 20px; }
  .countries__list {
    margin-top: 30px;
    grid-row-gap: 20px;
    grid-template-columns: 1fr; } }

.partners {
  margin-top: 100px;
  margin-bottom: 100px; }

.partners__title {
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: center;
  color: #0b132a; }

.partners__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  margin-top: 50px;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr; }

@media screen and (max-width: 991px) {
  .partners__list {
    grid-template-columns: 1fr 1fr 1fr; } }

@media screen and (max-width: 767px) {
  .partners__list {
    grid-template-columns: 1fr 1fr; } }

@media screen and (max-width: 540px) {
  .partners {
    margin-top: 70px; }
  .partners__title {
    font-size: 25px; } }

@media screen and (max-width: 440px) {
  .partners__list {
    grid-template-columns: 1fr; }
  .partners {
    margin-top: 50px; }
  .partners__title {
    width: 300px;
    font-size: 20px; } }

.page-footer {
  margin-top: 100px;
  padding: 20px 0;
  background-color: #eae8e8; }

.page-footer--marketing,
.page-footer--for-partners {
  margin-top: 0; }

.footer {
  display: flex;
  align-items: center; }

.socials {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  margin-right: 30%; }

.socials__item {
  height: 30px;
  margin-right: 20px; }
  .socials__item:hover {
    opacity: 0.8; }
  .socials__item a:focus {
    outline: none;
    opacity: 0.7; }

.copyright {
  margin-bottom: 0;
  color: #343333; }

@media screen and (max-width: 767px) {
  .socials {
    margin-right: 10%; } }

@media screen and (max-width: 440px) {
  .socials {
    margin-right: 5%; }
  .socials__item {
    margin-right: 10px; } }

.modal {
  width: 300px; }

.close {
  width: 15px;
  height: 24px;
  background-color: transparent;
  background-image: url("../img/close.png");
  background-repeat: no-repeat;
  background-position: center;
  border: none; }
  .close:hover {
    background-image: url("../img/close-hover.png"); }
  .close:focus {
    background-image: url("../img/close-hover.png");
    outline: none; }

.modal-text {
  text-align: center; }

.modal-input-checkbox {
  width: auto;
  margin-bottom: 0; }

.modal-body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center; }
  .modal-body label {
    text-align: left;
    font-size: 16px;
    margin-bottom: 5px; }
  .modal-body div {
    width: 80%; }
    .modal-body div input {
      width: 100%; }

.modal-label {
  width: 100%;
  font-size: 14px;
  margin-right: 20px;
  margin-left: 10px;
  margin-top: 0; }

.modal-footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px; }

.modal-checkbox {
  display: flex;
  align-items: center; }

.modal-input {
  width: 80%;
  margin-bottom: 20px;
  padding: 10px 20px;
  border: 1px solid #c4c4c4;
  border-radius: 40px; }
  .modal-input:hover {
    border-color: #ffaf36; }
  .modal-input:focus {
    border-color: #ffaf36;
    outline: none; }

.modal-dialog .modal-footer {
  display: flex;
  justify-content: center; }

.modal-btn {
  padding: 0 30px;
  height: 40px;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  background: linear-gradient(180deg, #ffaf36 0%, #d5830a 100%), linear-gradient(0deg, #c4c4c4, #c4c4c4);
  border: none;
  border-radius: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15); }
  .modal-btn:hover {
    opacity: 0.8; }
  .modal-btn:focus {
    outline: none;
    opacity: 0.7; }

.modal-link {
  color: #0b132a; }
  .modal-link:hover {
    color: #ffaf36; }
  .modal-link:focus {
    color: #ffaf36;
    outline: none; }

.password {
  margin-top: 100px; }
  .password form {
    display: flex;
    flex-wrap: wrap;
    align-items: center; }

.password__title {
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: 30px; }

.password__input {
  width: 400px;
  margin-right: 20px;
  margin-bottom: 0; }

.password__btn {
  padding: 10px 20px; }

@media screen and (max-width: 396px) {
  .password__input {
    margin-bottom: 20px; } }

.page-body-index {
  background-color: #f8f8f8; }

.marketing {
  position: relative;
  top: -170px;
  z-index: 0;
  margin-top: 50px;
  padding: 200px 0 0;
  background-image: url("../img/bg.webp"), url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover; }

.marketing__title {
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: center;
  color: #0b132a; }
  .marketing__title span {
    color: #ffaf36; }

.marketing__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #343333;
  text-transform: uppercase; }

.marketing__table {
  width: 730px;
  margin: 0 auto;
  margin-top: 50px;
  background-color: #ffffff;
  border-radius: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25); }
  .marketing__table tr {
    height: 50px;
    border-collapse: collapse;
    text-align: center;
    text-transform: uppercase;
    border-top: 1px solid #c4c4c4; }
    .marketing__table tr:first-child {
      border-top: none; }
  .marketing__table td {
    padding: 10px;
    border-right: 1px solid #c4c4c4; }
    .marketing__table td:last-child {
      border-right: none; }

.marketing__table-header {
  padding: 20px;
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
  border-right: 1px solid #c4c4c4; }
  .marketing__table-header:last-child {
    border-right: none; }

@media screen and (max-width: 991px) {
  .marketing__table {
    width: 100%; } }

@media screen and (max-width: 500px) {
  .marketing__table tr {
    height: 40px;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase; }
  .marketing__table td {
    padding: 5px; }
  .marketing__table-header {
    font-size: 14px; } }

@media screen and (max-width: 400px) {
  .marketing__table tr {
    font-size: 12px; }
  .marketing__table td {
    padding: 5px; }
  .marketing__table-header {
    padding: 5px;
    font-size: 13px; } }

.payment {
  position: relative;
  top: -170px;
  z-index: 0;
  margin-top: 50px;
  padding: 200px 0 100px;
  background-image: url("../img/bg.webp"), url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover; }

.payment__title {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase; }

.payment__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #343333;
  text-transform: uppercase; }

.buttons-wrapper {
  display: flex;
  flex-wrap: wrap; }
  .buttons-wrapper a {
    margin-left: 10px; }

.qiwi {
  padding: 3px 15px;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  border-radius: 40px;
  background: linear-gradient(180deg, #ff7e36 0%, #d5470a 100%), linear-gradient(0deg, #ffaf36, #ffaf36); }
  .qiwi:hover {
    color: #ffffff;
    opacity: 0.8; }
  .qiwi:focus {
    outline: none;
    opacity: 0.8; }

.yandex {
  padding: 3px 15px;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  border-radius: 40px;
  background: linear-gradient(180deg, #ffaf36 0%, #d5830a 100%), linear-gradient(0deg, #ffaf36, #ffaf36); }
  .yandex:hover {
    color: #ffffff;
    opacity: 0.8; }
  .yandex:focus {
    outline: none;
    opacity: 0.8; }

.payeer {
  padding: 3px 15px;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  border-radius: 40px;
  background: linear-gradient(180deg, #55d2fa 0%, #0a8cd5 100%), linear-gradient(0deg, #ffaf36, #ffaf36); }
  .payeer:hover {
    color: #ffffff;
    opacity: 0.8; }
  .payeer:focus {
    outline: none;
    opacity: 0.8; }

@media screen and (max-width: 991px) {
  .payment__title br {
    display: none; } }

@media screen and (max-width: 767px) {
  .buttons-wrapper {
    flex-direction: column;
    align-items: center; }
    .buttons-wrapper a {
      margin-bottom: 10px; } }

@media screen and (max-width: 540px) {
  .payment__title {
    display: block;
    width: 400px;
    margin: 0 auto;
    font-size: 25px; }
  .payment__subtitle {
    display: block;
    width: 300px;
    margin: 0 auto;
    margin-top: 15px;
    font-size: 16px;
    line-height: 24px; }
  .buttons-wrapper a {
    font-size: 11px; } }

@media screen and (max-width: 440px) {
  .payment__title {
    width: 300px;
    font-size: 20px;
    line-height: 28px; } }

.payment-info {
  position: relative;
  top: -100px; }

.payment-info__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr; }

.payment-info__item {
  padding: 40px;
  background-color: #fbfbfb;
  border-radius: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25); }

.payment-info__subtitle {
  font-size: 16px;
  text-align: center; }

.payment-info__title {
  font-weight: 800;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase; }

.payment-info__btn {
  padding: 3px 15px;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  border-radius: 40px;
  display: block;
  width: 300px;
  height: 50px;
  margin: 0 auto;
  font-weight: 800;
  font-size: 18px;
  background: linear-gradient(180deg, #ffaf36 0%, #d5830a 100%), linear-gradient(0deg, #c4c4c4, #c4c4c4);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25); }
  .payment-info__btn:hover {
    color: #ffffff;
    opacity: 0.8; }
  .payment-info__btn:focus {
    outline: none;
    opacity: 0.8; }

.payment-info__text {
  margin-top: 30px;
  text-align: center;
  text-transform: uppercase; }

.payment-info__item-list {
  margin: 0;
  padding: 0;
  list-style: none; }

.payment-info__item-list-item {
  margin-bottom: 10px; }

@media screen and (max-width: 991px) {
  .payment-info__list {
    grid-template-columns: 1fr; } }

@media screen and (max-width: 440px) {
  .payment-info__btn {
    width: 100%; }
  .payment-info {
    top: -200px; } }

.contacts {
  position: relative;
  top: -170px;
  z-index: 0;
  margin-top: 50px;
  padding: 200px 0 100px;
  background-image: url("../img/bg.webp"), url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover; }

.contacts-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center; }

.contacts__title {
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: center;
  color: #0b132a;
  text-align: left; }

.contacts__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 30px; }

.contacts__item {
  margin-bottom: 15px; }

@media screen and (max-width: 991px) {
  .contacts-wrapper {
    flex-direction: column; }
  .contacts__title {
    margin-top: 30px; } }

@media screen and (max-width: 540px) {
  .contacts {
    padding-bottom: 50px; }
  .contacts__title {
    display: block;
    width: 400px;
    margin: 0 auto;
    font-size: 25px;
    margin-top: 40px; } }

@media screen and (max-width: 440px) {
  .contacts__title {
    width: 300px;
    font-size: 20px;
    line-height: 28px; } }

.contacts-info {
  margin-top: -100px;
  margin-bottom: 100px; }

.contacts-info__title {
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: center;
  color: #0b132a; }

.contacts-info__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #343333;
  text-transform: uppercase; }

.contacts-info-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 50px; }

.contacts-info__form {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-right: 70px; }

.contacts-info__input {
  margin-bottom: 30px;
  padding: 14px 24px;
  color: #343333;
  background-color: #fbfbfb;
  border: none;
  border-radius: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) inset; }
  .contacts-info__input:hover {
    opacity: 0.7; }
  .contacts-info__input:focus {
    outline: none;
    opacity: 0.7; }

.contacts-info__btn {
  padding: 3px 15px;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  border-radius: 40px;
  width: 400px;
  height: 60px;
  font-weight: 800;
  font-size: 16px;
  background: linear-gradient(180deg, #ffaf36 0%, #d5830a 100%);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25); }
  .contacts-info__btn:hover {
    color: #ffffff;
    opacity: 0.8; }
  .contacts-info__btn:focus {
    outline: none;
    opacity: 0.8; }

.contacts-info__phone {
  padding-left: 20px;
  font-weight: 800;
  font-size: 20px;
  background-image: url("../img/phone.png");
  background-repeat: no-repeat;
  background-position: left center; }

.contacts-info__text {
  line-height: 28px;
  text-transform: uppercase; }

@media screen and (max-width: 767px) {
  .contacts-info-wrapper {
    flex-direction: column; }
    .contacts-info-wrapper div {
      margin: 0 auto;
      text-align: center; }
  .contacts-info__form,
  .contacts-info__btn {
    width: 100%;
    margin-bottom: 30px; }
  .contacts-info__phone {
    padding-left: 0;
    background-position: 110px center; } }

@media screen and (max-width: 540px) {
  .contacts-info {
    margin-top: -100px; }
  .contacts-info__title {
    display: block;
    width: 400px;
    margin: 0 auto;
    font-size: 25px;
    margin-top: 40px; }
  .contacts-info__subtitle {
    display: block;
    width: 300px;
    margin: 0 auto;
    margin-top: 15px;
    font-size: 16px;
    line-height: 24px; } }

@media screen and (max-width: 440px) {
  .contacts-info__phone {
    background-position: 100px center; }
  .contacts-info__title {
    width: 300px;
    font-size: 20px;
    line-height: 28px; }
  .contacts-info__subtitle {
    font-size: 14px; } }

@media screen and (max-width: 338px) {
  .contacts-info__phone {
    background-position: 60px center; } }

@media screen and (max-width: 380px) {
  .contacts-info__phone {
    background-position: 60px center; } }

.services {
  margin-top: -100px; }

.services--home {
  margin-top: 100px;
  background-color: #f8f8f8;
  padding: 100px 0; }

.services__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.services__list-item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 30%;
  margin-bottom: 30px;
  padding: 40px;
  background-repeat: no-repeat;
  background-position: 20px center;
  border: 1px solid #ffaf36;
  border-radius: 40px;
  box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.1); }
  .services__list-item:hover {
    border-color: #c4c4c4; }

.services__list-link {
  text-decoration: none; }

.services__list-item-header {
  width: 250px;
  padding-left: 90px;
  font-weight: 800;
  font-size: 18px;
  color: #0b132a; }

.services__list-item--steps {
  background-image: url("../img/service-icon1.png"); }

.services__list-item--lessons {
  background-image: url("../img/service-icon2.png"); }

.services__list-item--functions {
  background-image: url("../img/service-icon3.png"); }

.services__list-item--net-works {
  background-image: url("../img/service-icon4.png"); }

.services__list-item--mobile {
  background-image: url("../img/service-icon5.png"); }

.services__list-item--video {
  background-image: url("../img/service-icon6.png"); }

.services__list-item--for-partners {
  background-image: url("../img/service-icon7.png"); }

.services__list-item--materials {
  background-image: url("../img/service-icon8.png"); }

.services__list-item--selling {
  background-image: url("../img/service-icon9.png"); }
  .services__list-item--selling .services__list-item-header {
    font-size: 16px; }

.services__list-item--webinar {
  background-image: url("../img/service-icon10.png"); }

.services__list-item--library {
  background-image: url("../img/service-icon11.png"); }

.services__list-item--support {
  background-image: url("../img/service-icon12.png"); }

.services__list-item--grid {
  background-image: url("../img/service-icon13.png"); }

.services__list-item--diplex {
  background-image: url("../img/service-icon14.png"); }

@media screen and (max-width: 1199px) {
  .services__list-item-header {
    width: 210px;
    font-size: 16px; }
  .services__list-item {
    background-size: 100px auto; } }

@media screen and (max-width: 991px) {
  .services__list-item {
    width: 45%; }
  .services__list-item-header {
    width: 250px;
    font-size: 18px; } }

@media screen and (max-width: 767px) {
  .services__list-item-header {
    width: 200px;
    font-size: 15px; }
  .services__list-item {
    padding: 30px;
    background-size: 80px auto;
    border-radius: 30px; }
  .services__list-item--selling .services__list-item-header {
    font-size: 13px; } }

@media screen and (max-width: 600px) {
  .services__list-item {
    width: 100%;
    padding: 40px;
    background-size: 120px auto;
    border-radius: 40px; }
  .services__list-item-header {
    width: 350px;
    font-size: 18px; }
  .services__list-item--selling .services__list-item-header {
    font-size: 16px; } }

@media screen and (max-width: 470px) {
  .services__list-item {
    background-size: 100px auto; }
  .services__list-item-header {
    width: 300px;
    font-size: 20px; }
  .services__list-item--selling .services__list-item-header {
    font-size: 18px; } }

@media screen and (max-width: 410px) {
  .services__list-item {
    background-size: 100px auto; }
  .services__list-item-header {
    width: 250px;
    font-size: 18px; }
  .services__list-item--selling .services__list-item-header {
    font-size: 16px; } }

@media screen and (max-width: 350px) {
  .services__list-item-header {
    width: 220px;
    font-size: 18px; } }

.news__title {
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: center;
  color: #0b132a;
  margin-top: 100px; }

.news__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 50px; }

.news__list--cabinet {
  margin-top: 0; }

.news__list-group-item {
  width: 48%;
  min-height: 420px;
  margin-right: 0;
  padding: 40px;
  background-color: #fbfbfb;
  background-image: url("../img/news.png");
  background-repeat: no-repeat;
  background-position: 30px 10px;
  border-radius: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25); }

.news__list-group-item--cabinet {
  width: 100%;
  min-height: 440px;
  background-color: #ffffff;
  background-size: 80px;
  border-radius: 20px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1); }
  .news__list-group-item--cabinet .news__list-group-item-header {
    margin-top: 0;
    padding-left: 100px;
    font-size: 20px; }
  .news__list-group-item--cabinet .news__list-group-item-text {
    font-size: 16px; }

.news__list-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.carousel-item {
  min-height: 550px; }

.carousel-item--cabinet {
  min-height: 450px; }

.news__list-group-item-header {
  margin-top: 20px;
  margin-bottom: 40px;
  padding-left: 110px;
  font-weight: 800;
  font-size: 24px; }

.news__list-group-item-text {
  font-size: 18px; }

.carousel {
  position: relative; }

.prev-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  width: 13px;
  height: 34px;
  background-image: url("../img/arrow-left.png");
  background-repeat: no-repeat; }

.prev-icon--cabinet {
  position: absolute;
  top: 50%;
  left: 10px;
  width: 13px;
  height: 34px;
  background-image: url("../img/arrow-left.png");
  background-repeat: no-repeat; }

.next-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 13px;
  height: 34px;
  background-image: url("../img/arrow-right.png");
  background-repeat: no-repeat; }

.next-icon--cabinet {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 13px;
  height: 34px;
  background-image: url("../img/arrow-right.png");
  background-repeat: no-repeat; }

@media screen and (max-width: 1200px) {
  .carousel-item {
    min-height: 600px; }
  .carousel-item--cabinet {
    min-height: 450px; } }

@media screen and (max-width: 991px) {
  .news__list-group-item {
    width: 100%;
    margin-bottom: 30px; }
  .carousel-item {
    min-height: 450px; } }

@media screen and (max-width: 400px) {
  .news__list-group-item--cabinet {
    background-size: 50px; }
    .news__list-group-item--cabinet .news__list-group-item-header {
      margin-bottom: 30px;
      padding-left: 50px;
      font-size: 16px; } }

.cabinet-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px; }

.cabinet-nav__title {
  margin-bottom: 0;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  color: #343333;
  text-transform: uppercase; }
  .cabinet-nav__title:hover {
    opacity: 0.8;
    color: #343333; }
  .cabinet-nav__title:focus {
    opacity: 0.8;
    outline: none; }

.cabinet-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap; }

.cabinet-nav__list-item {
  margin-right: 20px; }
  .cabinet-nav__list-item:last-child {
    margin-right: 0; }

.cabinet-nav__list-link {
  font-size: 13px;
  color: #4f5665;
  text-transform: uppercase; }
  .cabinet-nav__list-link:hover {
    color: #4f5665;
    opacity: 0.8; }
  .cabinet-nav__list-link:focus {
    outline: none;
    opacity: 0.8; }

.cabinet-nav__list-link--active {
  color: #ffaf36;
  text-decoration: none; }

@media screen and (max-width: 991px) {
  .cabinet-nav {
    flex-direction: column;
    align-items: flex-start; }
  .cabinet-nav__title {
    margin-bottom: 20px; }
  .cabinet-nav__list-item {
    margin-right: 20px; } }

@media screen and (max-width: 767px) {
  .cabinet-nav__list-item {
    margin-right: 40px;
    margin-bottom: 10px; } }

@media screen and (max-width: 500px) {
  .cabinet-nav__list-item {
    margin-right: 30px;
    margin-bottom: 10px; } }

.personal-info {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 350px 1fr; }

.personal-info--edit {
  margin-bottom: 80px; }

.personal-info__wrapper {
  margin-top: 50px;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1); }

.chat__list-item-img {
  width: auto; }

.personal-info-photo__wrapper {
  display: flex;
  align-items: center; }

.personal-info-photo {
  margin-right: 30px; }
  .personal-info-photo:hover .personal-info__photo-input--cabinet {
    opacity: 0.7; }

.personal-info__photo-text {
  font-size: 14px;
  text-transform: uppercase; }

.personal-info__form {
  display: flex;
  align-items: center;
  margin-bottom: 20px; }

.personal-info__photo-input--cabinet {
  margin-top: -100px;
  opacity: 0; }

.personal-info__img {
  margin-right: 0;
  margin-bottom: 50px; }
  .personal-info__img:hover {
    opacity: 0; }

.personal-info__photo-input {
  position: relative;
  width: 101px;
  height: 101px;
  padding: 28px 22px;
  overflow: hidden;
  font-size: 15px;
  text-align: center;
  color: #343333;
  background-color: #eae8e8;
  webkit-border-radius: 100%;
  moz-border-radius: 100%;
  border-radius: 100%;
  ms-border-radius: 100%;
  o-border-radius: 100%; }

.edit-profile-link {
  display: block;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  color: #343333;
  text-decoration: none;
  background-color: #eae8e8;
  border-radius: 5px; }
  .edit-profile-link:hover {
    color: #343333;
    opacity: 0.8; }
  .edit-profile-link:focus {
    outline: none;
    opacity: 0.8; }

input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  cursor: pointer;
  opacity: 0;
  -webkit-tap-highlight-color: transparent; }

.personal-info__photo-btn {
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 8px 20px;
  color: #ffffff;
  background-color: #ffaf36;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1); }
  .personal-info__photo-btn:hover {
    opacity: 0.8; }
  .personal-info__photo-btn:focus {
    outline: none;
    opacity: 0.8; }

.personal-info__header {
  font-weight: 700;
  font-size: 18px;
  font-family: "Oswald", "Arial", sans-serif; }

.personal-info__header--edit {
  margin-left: 0; }

.personal-info__text {
  margin-top: 10px; }

.personal-info__balance--wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr; }

.personal-info__balance {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 16px; }
  .personal-info__balance span {
    margin-right: 5px;
    font-weight: 800;
    font-size: 14px;
    font-family: "Oswald", "Arial", sans-serif; }

.personal-info__stars {
  margin-top: 20px;
  margin-bottom: 0;
  padding-left: 35px;
  font-size: 14px;
  background-image: url("../img/star.svg");
  background-repeat: no-repeat;
  background-position: left top; }
  .personal-info__stars span {
    font-weight: 800;
    font-size: 16px;
    font-family: "Oswald", "Arial", sans-serif; }

.personal-info__partners {
  margin-top: 20px;
  margin-bottom: 0;
  padding-left: 35px;
  font-size: 14px;
  background-image: url("../img/blue-star.svg");
  background-repeat: no-repeat;
  background-position: left top; }
  .personal-info__partners span {
    font-weight: 800;
    font-size: 16px;
    font-family: "Oswald", "Arial", sans-serif; }

.personal-info__status {
  display: flex;
  justify-content: space-between; }

@media screen and (max-width: 991px) {
  .personal-info {
    grid-template-columns: 1fr; }
  .personal-info__status {
    justify-content: flex-start; }
  .personal-info__partners {
    margin-left: 40px; } }

.partners-number {
  margin-top: 50px;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1); }

.partners-number__header {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 14px;
  color: #343333;
  text-transform: uppercase; }

.partners-number__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  margin-top: 20px;
  margin-bottom: 40px;
  grid-column-gap: 60px;
  grid-template-columns: 1fr 1fr 1fr; }

.partners-number__list-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-left: 30px;
  font-weight: 600;
  background-image: url("../img/small-star.svg");
  background-repeat: no-repeat;
  background-position: left 3px; }
  .partners-number__list-item span {
    margin-left: 20px;
    font-weight: 800;
    font-size: 16px;
    font-family: "Oswald", "Arial", sans-serif; }

.copy-link {
  width: 70%;
  margin-top: 15px;
  margin-right: 20px;
  padding: 5px 15px;
  background-color: #ffffff;
  border: 1px solid #eae8e8;
  border-radius: 5px; }
  .copy-link:hover {
    border-color: #eae8e8; }
  .copy-link:focus {
    border-color: #eae8e8;
    outline: none; }

.copy-link-btn {
  margin-top: 15px;
  padding: 5px 15px;
  color: #ffaf36;
  background-color: #ffffff;
  border: 1px solid #ffaf36;
  border-radius: 5px; }
  .copy-link-btn:hover {
    border-color: #eae8e8; }
  .copy-link-btn:focus {
    border-color: #eae8e8;
    outline: none; }

.tooltip {
  position: relative;
  display: inline-block; }

.tooltip .tooltiptext {
  position: absolute;
  bottom: 150%;
  left: 50%;
  z-index: 1;
  width: 140px;
  margin-left: -75px;
  padding: 5px;
  text-align: center;
  color: #ffffff;
  background-color: #555555;
  border-radius: 6px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s; }

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555555 transparent transparent transparent; }

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1; }

@media screen and (max-width: 1100px) {
  .partners-number__list {
    grid-column-gap: 40px; } }

@media screen and (max-width: 991px) {
  .partners-number {
    margin-top: 0; } }

@media screen and (max-width: 767px) {
  .copy-link {
    width: 100%; }
  .partners-number__list {
    grid-column-gap: 70px;
    grid-template-columns: 1fr 1fr; } }

@media screen and (max-width: 500px) {
  .partners-number__list {
    grid-template-columns: 1fr; } }

.personal-info-news {
  display: grid;
  margin-top: 40px;
  margin-bottom: 80px;
  grid-gap: 30px;
  grid-template-columns: 350px 1fr; }

.chat {
  position: relative;
  height: 450px;
  padding: 30px;
  padding-right: 40px;
  padding-bottom: 170px;
  padding-left: 20px;
  overflow: auto;
  background-color: #ffffff;
  border-radius: 20px; }

::-webkit-scrollbar {
  width: 5px;
  height: 3px; }

::-webkit-scrollbar-button {
  display: none;
  background-color: #eae8e8; }

::-webkit-scrollbar-track {
  background-color: #999999; }

::-webkit-scrollbar-track-piece {
  background-color: #eae8e8; }

::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #c4c4c4;
  border-radius: 5px; }

::-webkit-scrollbar-corner {
  background-color: #999999; }

::-webkit-resizer {
  background-color: #666666; }

.chat__list-item-img {
  margin-top: 20px; }

.chat__title {
  margin-bottom: 20px;
  font-size: 14px;
  color: #343333;
  text-transform: uppercase; }

.chat__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.chat__list-item {
  display: grid;
  margin-bottom: 20px;
  grid-column-gap: 10px;
  grid-template-columns: 60px 1fr; }
  .chat__list-item:last-child {
    margin-bottom: 0; }
  .chat__list-item textarea {
    width: 350px;
    min-height: 100px;
    padding-left: 10px;
    background-color: #ffffff;
    border: 1px solid #eae8e8;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
    resize: none; }
    .chat__list-item textarea:focus {
      outline: none;
      opacity: 0.8; }
  .chat__list-item button {
    padding: 8px 20px;
    color: #ffffff;
    background-color: #ffaf36;
    border: none;
    border-radius: 20px; }
    .chat__list-item button:hover {
      opacity: 0.8; }
    .chat__list-item button:focus {
      outline: none;
      opacity: 0.8; }

.chat__list-item-header {
  order: 2;
  margin-top: 0;
  width: 200px;
  font-weight: 600;
  font-size: 16px; }

.chat__list-item-wrapper {
  display: flex;
  flex-direction: column; }

.chat__list-item-date {
  order: 1;
  align-self: flex-end;
  margin-bottom: 0;
  font-size: 12px;
  color: #343333;
  opacity: 0.8; }

.chat__list-item-text {
  margin-right: 0;
  margin-left: 0;
  font-size: 14px; }

@media screen and (max-width: 991px) {
  .personal-info-news {
    grid-template-columns: 1fr; }
  .chat {
    padding: 40px; }
  .chat__list-item {
    justify-content: flex-start; }
    .chat__list-item textarea {
      width: 800px;
      padding: 20px; }
  .chat__list-item-wrapper,
  .chat__list-item-text {
    margin-left: 30px; } }

@media screen and (max-width: 767px) {
  .chat__list-item textarea {
    width: 700px;
    padding: 20px; } }

@media screen and (max-width: 500px) {
  .chat__list-item-wrapper,
  .chat__list-item-text {
    margin-left: 20px; }
  .chat {
    padding: 20px;
    padding-right: 40px; }
  .chat__list-item textarea {
    width: 470px;
    padding: 20px; }
  .chat__list-item-header {
    font-size: 14px; } }

@media screen and (max-width: 350px) {
  .chat__list-item-wrapper,
  .chat__list-item-text {
    margin-left: 10px; }
  .chat__list-item-header {
    font-size: 13px; }
  .chat__list-item-date {
    font-size: 12px; }
  .chat__list-item textarea {
    width: 340px;
    padding: 20px; } }

.edit-profile {
  margin-top: 50px;
  padding: 30px 50px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1); }

.edit-profile__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-column-gap: 120px;
  grid-row-gap: 30px;
  grid-template-columns: 1fr 1fr; }

.edit-profile__item {
  display: flex;
  justify-content: space-between; }

.edit-profile__header {
  margin-right: 30px;
  font-weight: 600; }

.edit-profile__text {
  margin-bottom: 3px;
  text-align: right; }

.personal-info__photo-subtitle {
  font-size: 13px;
  color: #343333; }

.personal-info__photo-photo-subtitle--error {
  font-size: 13px;
  color: #f53855; }

.edit-profile__item--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }

.edit-profile__link {
  color: #ffaf36;
  text-align: right; }
  .edit-profile__link:hover {
    color: #ffaf36;
    opacity: 0.7; }
  .edit-profile__link:focus {
    outline: none;
    opacity: 0.8; }

.easyoffice-sections {
  margin-top: 50px; }

.easyoffice-sections__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-column-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr; }

.easyoffice-sections__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 20px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2); }
  .easyoffice-sections__item:nth-child(1) {
    background: linear-gradient(180deg, #ffba77 0%, #ffaf36 100%), linear-gradient(0deg, #ffffff, #ffffff); }
  .easyoffice-sections__item:nth-child(2) {
    background: linear-gradient(180deg, #fba3a0 0%, #fc5b89 100%), linear-gradient(0deg, #ffffff, #ffffff); }
  .easyoffice-sections__item:nth-child(3) {
    background: linear-gradient(180deg, #7695ff 0%, #8342f7 100%), linear-gradient(0deg, #ffffff, #ffffff); }
  .easyoffice-sections__item:nth-child(4) {
    background: linear-gradient(180deg, #ffba77 0%, #ffaf36 100%), linear-gradient(0deg, #ffffff, #ffffff); }
  .easyoffice-sections__item:nth-child(5) {
    background: linear-gradient(180deg, #fba3a0 0%, #fc5b89 100%), linear-gradient(0deg, #ffffff, #ffffff); }
  .easyoffice-sections__item:nth-child(6) {
    background: linear-gradient(180deg, #7695ff 0%, #8342f7 100%), linear-gradient(0deg, #ffffff, #ffffff); }

.easyoffice-sections__header {
  padding-bottom: 20px;
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
  border-bottom: 1px solid #fbfbfb; }

.download-link {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  padding-top: 20px;
  padding-left: 35px;
  font-weight: 400;
  font-size: 14px;
  font-family: "Calibri", sans-serif;
  color: #ffffff;
  text-transform: none;
  text-decoration: none;
  background-image: url("../img/excel.svg");
  background-repeat: no-repeat;
  background-position: left 15px;
  background-size: 30px;
  border-top: 1px solid #fbfbfb; }
  .download-link:hover {
    color: green;
    opacity: 0.8; }
  .download-link:focus {
    outline: none;
    opacity: 0.8; }

.easyoffice-sections__balance {
  margin-top: 20px;
  font-weight: 400;
  font-size: 16px;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: center;
  color: #ffffff;
  text-transform: none;
  grid-column-gap: 20px;
  grid-template-columns: 1fr; }

.easyoffice-graphic--wrapper {
  display: grid;
  margin-top: 80px;
  margin-bottom: 80px;
  grid-column-gap: 100px;
  grid-template-columns: 350px 700px; }

.graphic-list {
  width: 100%;
  margin-top: 40px; }

.carousel-item {
  display: block;
  margin: 0 auto; }

.graphic-list__header {
  font-size: 20px; }

.next-icon--office {
  right: 170px; }

.chart-text {
  transform: translateY(0.25em); }

.chart-number {
  font-size: 8px;
  line-height: 1;
  font-family: "Oswald", "Arial", sans-serif;
  transform: translateY(-0.25em);
  text-anchor: middle; }

.chart-label {
  font-size: 4px;
  text-transform: uppercase;
  transform: translateY(0.7em);
  text-anchor: middle; }

.graphic-list__data {
  margin: 0;
  padding: 0;
  list-style: none; }

.graphic-list__data-item {
  font-size: 18px;
  margin-bottom: 10px;
  padding-left: 30px;
  font-family: "Oswald", "Arial", sans-serif; }
  .graphic-list__data-item span {
    font-family: "Calibri", "Arial", sans-serif; }

.graphic-list__data-item--usd {
  position: relative; }
  .graphic-list__data-item--usd::before {
    position: absolute;
    top: 2px;
    left: 0;
    content: "";
    width: 20px;
    height: 20px;
    background-color: #ffaf36;
    border-radius: 100%; }

.graphic-list__data-item--rub {
  position: relative; }
  .graphic-list__data-item--rub::before {
    position: absolute;
    top: 2px;
    left: 0;
    content: "";
    width: 20px;
    height: 20px;
    background-color: #fc5b89;
    border-radius: 100%; }

.graphic-list__data-item--top {
  position: relative; }
  .graphic-list__data-item--top::before {
    position: absolute;
    top: 2px;
    left: 0;
    content: "";
    width: 20px;
    height: 20px;
    background-color: #8342f7;
    border-radius: 100%; }

.graphic-list__data-item--lead {
  position: relative; }
  .graphic-list__data-item--lead::before {
    position: absolute;
    top: 2px;
    left: 0;
    content: "";
    width: 20px;
    height: 20px;
    background-color: #ffba77;
    border-radius: 100%; }

.account-replenishment {
  margin-top: 50px;
  margin-bottom: 80px; }

.account-replenishment__title {
  font-size: 30px; }

.account__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 40px; }

.account__list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 23%;
  margin-bottom: 30px;
  padding: 40px;
  text-align: center;
  background-color: #eae8e8;
  border-radius: 20px; }
  .account__list-item:nth-child(1) {
    background: linear-gradient(180deg, #ffba77 0%, #ffaf36 100%), linear-gradient(0deg, #ffffff, #ffffff); }
  .account__list-item:nth-child(2) {
    background: linear-gradient(180deg, #fba3a0 0%, #fc5b89 100%), linear-gradient(0deg, #ffffff, #ffffff); }
  .account__list-item:nth-child(3) {
    background: linear-gradient(180deg, #7695ff 0%, #8342f7 100%), linear-gradient(0deg, #ffffff, #ffffff); }
  .account__list-item:nth-child(6) {
    background: linear-gradient(180deg, #7695ff 0%, #8342f7 100%), linear-gradient(0deg, #ffffff, #ffffff); }
  .account__list-item:nth-child(5) {
    background: linear-gradient(180deg, #ffba77 0%, #ffaf36 100%), linear-gradient(0deg, #ffffff, #ffffff); }
  .account__list-item:nth-child(4) {
    background: linear-gradient(180deg, #5c84ff 0%, #1551fd 100%), linear-gradient(0deg, #ffffff, #ffffff); }

.account__list-balance {
  margin-bottom: 40px;
  font-size: 24px;
  font-family: "Oswald", "Arial", sans-serif;
  color: #ffffff; }
  .account__list-balance span {
    font-weight: 600;
    font-size: 20px; }

.account__list-balance--grey {
  color: #ffba77; }

.account__list-link {
  padding: 5px 25px;
  padding-left: 30px;
  color: #ffffff;
  text-decoration: none;
  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: 30px center;
  background-size: 12px;
  border: 1px solid #ffffff;
  border-radius: 20px; }
  .account__list-link:hover {
    color: #ffffff;
    opacity: 0.8; }
  .account__list-link:focus {
    outline: none;
    opacity: 0.8; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
          appearance: none; }

/* Firefox */
input[type="number"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield; }
