.page-body-index {
  background-color: $basic-light-grey;
}

.marketing {
  position: relative;
  top: -170px;
  z-index: 0;

  margin-top: 50px;
  padding: 200px 0 0;

  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.marketing__title {
  @include big-header;

  & span {
    color: $basic-yellow;
  }
}

.marketing__subtitle {
  @include main-text;
}

.marketing__table {
  width: 730px;
  margin: 0 auto;
  margin-top: 50px;

  background-color: $basic-white;
  border-radius: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

  & tr {
    height: 50px;

    border-collapse: collapse;
    text-align: center;
    text-transform: uppercase;

    border-top: 1px solid $special-grey;

    &:first-child {
      border-top: none;
    }
  }

  & td {
    padding: 10px;

    border-right: 1px solid $special-grey;

    &:last-child {
      border-right: none;
    }
  }
}

.marketing__table-header {
  padding: 20px;

  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;

  border-right: 1px solid $special-grey;

  &:last-child {
    border-right: none;
  }
}

@media screen and (max-width: 991px) {
  .marketing__table {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .marketing__table {
    & tr {
      height: 40px;

      font-size: 13px;
      text-align: center;
      text-transform: uppercase;
    }

    & td {
      padding: 5px;
    }
  }

  .marketing__table-header {
    font-size: 14px;
  }
}

@media screen and (max-width: 400px) {
  .marketing__table {
    & tr {
      font-size: 12px;
    }

    & td {
      padding: 5px;
    }
  }

  .marketing__table-header {
    padding: 5px;

    font-size: 13px;
  }
}
