.news__title {
  @include big-header;

  margin-top: 100px;
}

.news__list {
  @include reset-list;

  margin-top: 50px;
}

.news__list-group-item {
  width: 48%;
  min-height: 420px;
  margin-right: 0;
  padding: 40px;

  background-color: $special-light-grey;
  background-image: url("../img/news.png");
  background-repeat: no-repeat;
  background-position: 30px 10px;
  border-radius: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.news__list-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.carousel-item {
  min-height: 550px;
}

.news__list-group-item-header {
  margin-top: 20px;
  margin-bottom: 40px;
  padding-left: 110px;

  font-weight: 800;
  font-size: 24px;
}

.news__list-group-item-text {
  font-size: 18px;
}

.carousel {
  position: relative;
}

.prev-icon {
  position: absolute;
  top: 200px;
  left: -30px;

  width: 13px;
  height: 34px;

  background-image: url("../img/arrow-left.png");
  background-repeat: no-repeat;
}

.next-icon {
  position: absolute;
  top: 200px;
  right: -30px;

  width: 13px;
  height: 34px;

  background-image: url("../img/arrow-right.png");
  background-repeat: no-repeat;
}


@media screen and (max-width: 1200px) {
  .carousel-item {
    min-height: 600px;
  }
}

@media screen and (max-width: 991px) {
  .news__list-group-item {
    width: 100%;
    margin-bottom: 30px;
  }

  .carousel-item {
    min-height: 450px;
  }
}
