.services {
  margin-top: -100px;
}

.services__list {
  @include reset-list;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.services__list-item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 30%;
  margin-bottom: 30px;
  padding: 40px;

  background-repeat: no-repeat;
  background-position: 20px center;
  border: 1px solid $basic-yellow;
  border-radius: 40px;
  box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.1);

  &:hover {
    border-color: $special-grey;
  }
}

.services__list-link {
  text-decoration: none;
}

.services__list-item-header {
  width: 250px;
  padding-left: 90px;

  font-weight: 800;
  font-size: 18px;
  color: $basic-black;
}

.services__list-item--steps {
  background-image: url("../img/service-icon1.png");
}

.services__list-item--lessons {
  background-image: url("../img/service-icon2.png");
}

.services__list-item--functions {
  background-image: url("../img/service-icon3.png");
}

.services__list-item--net-works {
  background-image: url("../img/service-icon4.png");
}

.services__list-item--mobile {
  background-image: url("../img/service-icon5.png");
}

.services__list-item--video {
  background-image: url("../img/service-icon6.png");
}

.services__list-item--for-partners {
  background-image: url("../img/service-icon7.png");
}


.services__list-item--materials {
  background-image: url("../img/service-icon8.png");
}

.services__list-item--selling {
  background-image: url("../img/service-icon9.png");

  & .services__list-item-header {
    font-size: 16px;
  }
}

.services__list-item--webinar {
  background-image: url("../img/service-icon10.png");
}

.services__list-item--library {
  background-image: url("../img/service-icon11.png");
}

.services__list-item--support {
  background-image: url("../img/service-icon12.png");
}

.services__list-item--grid {
  background-image: url("../img/service-icon13.png");
}

.services__list-item--diplex {
  background-image: url("../img/service-icon14.png");
}


@media screen and (max-width: 1199px) {
  .services__list-item-header {
    width: 210px;

    font-size: 16px;
  }

  .services__list-item {
    background-size: 100px auto;
  }
}

@media screen and (max-width: 991px) {
  .services__list-item {
    width: 45%;
  }

  .services__list-item-header {
    width: 250px;

    font-size: 18px;
  }
}

@media screen and (max-width: 767px) {
  .services__list-item-header {
    width: 200px;

    font-size: 15px;
  }

  .services__list-item {
    padding: 30px;

    background-size: 80px auto;
    border-radius: 30px;
  }

  .services__list-item--selling {
    & .services__list-item-header {
      font-size: 13px;
    }
  }
}


@media screen and (max-width: 600px) {
  .services__list-item {
    width: 100%;
    padding: 40px;

    background-size: 120px auto;
    border-radius: 40px;
  }

  .services__list-item-header {
    width: 350px;

    font-size: 18px;
  }

  .services__list-item--selling {
    & .services__list-item-header {
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 470px) {
  .services__list-item {
    background-size: 100px auto;
  }

  .services__list-item-header {
    width: 300px;

    font-size: 20px;
  }

  .services__list-item--selling {
    & .services__list-item-header {
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 410px) {
  .services__list-item {
    background-size: 100px auto;
  }

  .services__list-item-header {
    width: 250px;

    font-size: 18px;
  }

  .services__list-item--selling {
    & .services__list-item-header {
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 350px) {
  .services__list-item-header {
    width: 220px;

    font-size: 18px;
  }
}
