.contacts-info {
  margin-top: -100px;
  margin-bottom: 100px;
}

.contacts-info__title {
  @include big-header;
}

.contacts-info__subtitle {
  @include main-text;
}

.contacts-info-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.contacts-info__form {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-right: 70px;
}

.contacts-info__input {
  margin-bottom: 30px;
  padding: 14px 24px;

  color: $special-black;

  background-color: $special-light-grey;
  border: none;
  border-radius: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) inset;

  &:hover {
    opacity: 0.7;
  }

  &:focus {
    outline: none;
    opacity: 0.7;
  }
}

.contacts-info__btn {
  @include button;

  width: 400px;
  height: 60px;

  font-weight: 800;
  font-size: 16px;

  background: linear-gradient(180deg, #ffaf36 0%, #d5830a 100%);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.contacts-info__phone {
  padding-left: 20px;

  font-weight: 800;
  font-size: 20px;

  background-image: url("../img/phone.png");
  background-repeat: no-repeat;
  background-position: left center;
}

.contacts-info__text {
  line-height: 28px;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .contacts-info-wrapper {
    flex-direction: column;

    & div {
      margin: 0 auto;

      text-align: center;
    }
  }

  .contacts-info__form,
  .contacts-info__btn {
    width: 100%;
    margin-bottom: 30px;
  }

  .contacts-info__phone {
    padding-left: 0;

    background-position: 110px center;
  }
}

@media screen and (max-width: 540px) {
  .contacts-info {
    margin-top: -100px;
  }

  .contacts-info__title {
    @include big-header-mobile;

    margin-top: 40px;
  }

  .contacts-info__subtitle {
    @include main-text-mobile;
  }
}

@media screen and (max-width: 440px) {
  .contacts-info__phone {
    background-position: 100px center;
  }

  .contacts-info__title {
    width: 300px;

    font-size: 20px;
    line-height: 28px;
  }

  .contacts-info__subtitle {
    font-size: 14px;
  }
}

@media screen and (max-width: 338px) {
  .contacts-info__phone {
    background-position: 60px center;
  }
}

@media screen and (max-width: 380px) {
  .contacts-info__phone {
    background-position: 60px center;
  }
}
