.contacts {
  position: relative;
  top: -170px;
  z-index: 0;

  margin-top: 50px;
  padding: 200px 0 100px;

  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.contacts-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contacts__title {
  @include big-header;

  text-align: left;
}

.contacts__list {
  @include reset-list;

  margin-top: 30px;
}

.contacts__item {
  margin-bottom: 15px;
}

@media screen and (max-width: 991px) {
  .contacts-wrapper {
    flex-direction: column;
  }

  .contacts__title {
    margin-top: 30px;
  }
}

@media screen and (max-width: 540px) {
  .contacts {
    padding-bottom: 50px;
  }

  .contacts__title {
    @include big-header-mobile;

    margin-top: 40px;
  }
}


@media screen and (max-width: 440px) {
  .contacts__title {
    width: 300px;

    font-size: 20px;
    line-height: 28px;
  }
}
