.page-header {
  z-index: 2;

  margin-top: 25px;

  background-color: $basic-white;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}

.navbar-expand-lg {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: space-between;
}

.navbar-toggler-icon {
  background-image: url("../img/icon-menu.png");
  background-repeat: no-repeat;
  background-position: center;

  &:hover {
    opacity: 0.7;
  }

  &:focus {
    outline: none;
    opacity: 0.7;
  }
}

.navbar-collapse {
  display: flex;
  justify-content: flex-end;
  width: auto;
}

.site-list {
  margin-left: 100px;
}

.site-list__item {
  margin-right: 25px;
}

.site-list__link {
  @include nav-link;

  text-decoration: none;

  &:hover {
    color: $basic-yellow;
  }

  &:focus {
    color: $basic-yellow;

    outline: none;
  }
}

.page-header__logo {
  &:focus {
    outline: none;
    opacity: 0.7;
  }
}

.site-list__link--active {
  color: $basic-yellow;
}

.user-nav {
  @include reset-list;

  display: flex;
}

.user-nav__item {
  margin-right: 20px;
}

.user-nav__link {
  @include nav-link;

  padding-left: 20px;

  font-weight: 800;
  text-decoration: none;

  &:hover {
    color: $basic-yellow;
  }

  &:focus {
    color: $basic-yellow;

    outline: none;
  }
}

.user-nav__link--user-in {
  background-image: url("../img/user-in.png");
  background-repeat: no-repeat;
  background-position: left center;
}

.user-nav__link--cabinet {
  background-image: url("../img/user-in.png");
  background-repeat: no-repeat;
  background-position: left center;
}

.user-nav__link--sign-in {
  padding-left: 25px;

  background-image: url("../img/sign-in.png");
  background-repeat: no-repeat;
  background-position: left center;
}

@media screen and (max-width: 1200px) {
  .site-list {
    margin-left: 0;
  }

  .navbar-expand-lg {
    padding: 20px 10px;
  }
}

@media screen and (max-width: 991px) {
  .page-header {
    flex-wrap: wrap;
  }

  .navbar-expand-lg {
    flex-wrap: wrap;
  }

  .navbar-collapse {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
  }

  .site-list__item {
    margin-bottom: 20px;
  }

  .site-list {
    width: 100%;
    margin-top: 30px;
    margin-left: 0;
  }

  .user-nav {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 0;
  }

  .user-nav_item {
    &:first-child {
      margin-right: 30px;
    }
  }

  .site-menu_list,
  .user-nav {
    width: 100%;
  }
}
