// Colors
$basic-white: #ffffff;
$special-black: #343333;
$basic-yellow: #ffaf36;
$basic-black: #000000;
$basic-light-grey: #f8f8f8;
$basic-grey: #eae8e8;
$basic-blue: #1a73e8;
$basic-black: #0b132a;
$basic-red: #f53855;
$special-grey: #c4c4c4;
$special-light-grey: #fbfbfb;
