@mixin reset-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin nav-link {
  font-weight: 400;
  font-size: 14px;
  color: $special-black;
  text-transform: uppercase;
}

@mixin big-header {
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: center;
  color: $basic-black;
}

@mixin big-header-mobile {
  display: block;
  width: 400px;
  margin: 0 auto;

  font-size: 25px;
}

@mixin main-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: $special-black;
  text-transform: uppercase;
}

@mixin main-text-mobile {
  display: block;
  width: 300px;
  margin: 0 auto;
  margin-top: 15px;

  font-size: 16px;
  line-height: 24px;
}

@mixin small-header {
  font-weight: 800;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  color: $basic-black;
  text-transform: uppercase;
}

@mixin video {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}

@mixin button {
  padding: 3px 15px;

  font-size: 14px;
  text-align: center;
  color: $basic-white;
  text-transform: uppercase;
  text-decoration: none;

  border: none;
  border-radius: 40px;

  &:hover {
    color: $basic-white;

    opacity: 0.8;
  }

  &:focus {
    outline: none;
    opacity: 0.8;
  }
}
