.payment {
  position: relative;
  top: -170px;
  z-index: 0;

  margin-top: 50px;
  padding: 200px 0 100px;

  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.payment__title {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
}

.payment__subtitle {
  @include main-text;
}

.buttons-wrapper {
  display: flex;
  flex-wrap: wrap;

  & a {
    margin-left: 10px;
  }
}

.qiwi {
  @include button;

  background: linear-gradient(180deg, #ff7e36 0%, #d5470a 100%),
    linear-gradient(0deg, #ffaf36, #ffaf36);
}

.yandex {
  @include button;

  background: linear-gradient(180deg, #ffaf36 0%, #d5830a 100%),
    linear-gradient(0deg, #ffaf36, #ffaf36);
}

.payeer {
  @include button;

  background: linear-gradient(180deg, #55d2fa 0%, #0a8cd5 100%),
    linear-gradient(0deg, #ffaf36, #ffaf36);
}

@media screen and (max-width: 991px) {
  .payment__title br {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .buttons-wrapper {
    flex-direction: column;
    align-items: center;

    & a {
      margin-bottom: 10px;
    }
  }
}

@media screen and (max-width: 540px) {
  .payment__title {
    @include big-header-mobile;
  }

  .payment__subtitle {
    @include main-text-mobile;
  }

  .buttons-wrapper {
    & a {
      font-size: 11px;
    }
  }
}

@media screen and (max-width: 440px) {
  .payment__title {
    width: 300px;

    font-size: 20px;
    line-height: 28px;
  }
}
