.first-screen {
  position: relative;
  top: -170px;
  z-index: 0;

  margin-top: 50px;
  padding: 200px 0 100px;

  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.first-screen__title {
  @include big-header;
}

.first-screen__subtitle {
  @include main-text;

  margin-top: 20px;
}

.first-screen__video {
  @include video;
}

@media screen and (max-width: 991px) {
  .first-screen__title {
    & br {
      display: none;
    }
  }

  .first-screen__video {
    width: 100%;
  }
}

@media screen and (max-width: 540px) {
  .first-screen__title {
    @include big-header-mobile;
  }

  .first-screen__subtitle {
    @include main-text-mobile;
  }
}

@media screen and (max-width: 440px) {
  .first-screen__title {
    width: 300px;

    font-size: 20px;
    line-height: 28px;
  }
}
