.partners {
  margin-top: 100px;
  margin-bottom: 100px;
}

.partners__title {
  @include big-header;
}

.partners__list {
  @include reset-list;

  display: grid;
  margin-top: 50px;

  grid-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media screen and (max-width: 991px) {
  .partners__list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 767px) {
  .partners__list {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 540px) {
  .partners {
    margin-top: 70px;
  }

  .partners__title {
    font-size: 25px;
  }
}

@media screen and (max-width: 440px) {
  .partners__list {
    grid-template-columns: 1fr;
  }

  .partners {
    margin-top: 50px;
  }

  .partners__title {
    width: 300px;

    font-size: 20px;
  }
}
