.presentation {
  margin-top: -100px;
}

.presentation__title {
  @include big-header;
}

.presentation__video {
  @include video;
}

@media screen and (max-width: 991px) {
  .presentation__video {
    width: 100%;
  }
}

@media screen and (max-width: 540px) {
  .presentation__title {
    @include big-header-mobile;
  }

  .presentation {
    margin-top: -150px;
  }
}

@media screen and (max-width: 440px) {
  .presentation__title {
    width: 300px;

    font-size: 20px;
  }
}
